In [65]:
import pandas as pd
import numpy as np

In [66]:
oj=pd.read_csv("oj.csv",encoding="latin")

In [67]:
#1. Find the dimensions of the oj data set
oj.shape

(28947, 17)

In [68]:
# 2.	Find the structure of the data set
oj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28947 entries, 0 to 28946
Data columns (total 17 columns):
store       28947 non-null int64
brand       28947 non-null object
week        28947 non-null int64
logmove     28947 non-null float64
feat        28947 non-null int64
price       28947 non-null float64
AGE60       28947 non-null float64
EDUC        28947 non-null float64
ETHNIC      28947 non-null float64
INCOME      28947 non-null float64
HHLARGE     28947 non-null float64
WORKWOM     28947 non-null float64
HVAL150     28947 non-null float64
SSTRDIST    28947 non-null float64
SSTRVOL     28947 non-null float64
CPDIST5     28947 non-null float64
CPWVOL5     28947 non-null float64
dtypes: float64(13), int64(3), object(1)
memory usage: 3.8+ MB

In [69]:
# 3 Find out the column names in the data set

In [70]:
oj.columns

Index(['store', 'brand', 'week', 'logmove', 'feat', 'price', 'AGE60', 'EDUC',
       'ETHNIC', 'INCOME', 'HHLARGE', 'WORKWOM', 'HVAL150', 'SSTRDIST',
       'SSTRVOL', 'CPDIST5', 'CPWVOL5'],
      dtype='object')

In [71]:
#4.Describe the data set
oj.describe()

,store,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
count,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000
mean,80.883511,100.459944,9.167864,0.237261,2.282488,0.173130,0.225220,0.155557,10.616735,0.115602,0.359178,0.343766,5.097274,1.207317,2.120359,0.438914
std,35.576511,34.692314,1.019378,0.425411,0.648001,0.061872,0.109945,0.187581,0.282314,0.030168,0.052673,0.239028,3.472386,0.526528,0.729828,0.219248
min,2.000000,40.000000,4.158883,0.000000,0.520000,0.058054,0.049550,0.024247,9.867083,0.013506,0.244463,0.002509,0.132097,0.400000,0.772530,0.094562
25%,53.000000,70.000000,8.489616,0.000000,1.790000,0.122100,0.145985,0.041910,10.456079,0.097938,0.312636,0.123486,2.767046,0.727273,1.626192,0.271673
50%,86.000000,101.000000,9.034080,0.000000,2.170000,0.170655,0.229390,0.074656,10.635326,0.111221,0.355635,0.346154,4.650687,1.115385,1.963412,0.383227
75%,111.000000,130.000000,9.764685,0.000000,2.730000,0.213949,0.284395,0.187761,10.796960,0.135168,0.402313,0.528313,6.650602,1.538462,2.533672,0.560240
max,137.000000,160.000000,13.482016,1.000000,3.870000,0.307398,0.528362,0.995691,11.236197,0.216354,0.472308,0.916699,17.855951,2.571429,4.107902,1.143367

In [72]:
# 5. Update the column names of the data set, such that every column name is in lowercase
#oj.columns = [col.lower() for col in list(oj.columns) ]

Data Retrival

In [73]:
oj.head()

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927

In [74]:
#1. Fetch the first row 3rd column from the data set
oj.iloc[0,2]

40

In [75]:
# 2. Fetch the first, second and Third columns of the oj data frame
oj.iloc[0:,[0,1,2]].head()

   store      brand  week
0      2  tropicana    40
1      2  tropicana    46
2      2  tropicana    47
3      2  tropicana    48
4      2  tropicana    50

In [76]:
#3. Fetch the first, second, eighth and the 456th rows of the 1st, third and the sixth columns of the data frame
oj.iloc[[0,1,7,455],[0,2,5]]

     store  week  price
0        2    40   3.87
1        2    46   3.87
7        2    53   3.29
455      5    51   2.99

In [77]:
# 4. Fetch the first 5 rows of the brand column of the dataset
oj['brand'].head()

0    tropicana
1    tropicana
2    tropicana
3    tropicana
4    tropicana
Name: brand, dtype: object

In [78]:
#5. Fetch top 5 rows of the brand, week and feat details 
oj[['brand','week','feat']].head()

       brand  week  feat
0  tropicana    40     0
1  tropicana    46     0
2  tropicana    47     0
3  tropicana    48     0
4  tropicana    50     0

In [79]:
# 6.Fetch the details of all the distinct stores
oj["store"].unique()

array([  2,   5,   8,   9,  12,  14,  18,  21,  28,  32,  33,  40,  44,
        45,  47,  48,  49,  50,  51,  52,  53,  54,  56,  59,  62,  64,
        67,  68,  70,  71,  72,  73,  74,  75,  76,  77,  78,  80,  81,
        83,  84,  86,  88,  89,  90,  91,  92,  93,  94,  95,  97,  98,
       100, 101, 102, 103, 104, 105, 106, 107, 109, 110, 111, 112, 113,
       114, 115, 116, 117, 118, 119, 121, 122, 123, 124, 126, 128, 129,
       130, 131, 132, 134, 137], dtype=int64)

In [80]:
# 7. Fetch all the observations for Tropicana brand
oj[oj['brand']=='tropicana']
oj[oj.brand == 'tropicana']

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
5,2,tropicana,51,8.877382,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
6,2,tropicana,52,9.294682,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
7,2,tropicana,53,8.954674,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
8,2,tropicana,54,9.049232,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
9,2,tropicana,57,8.613230,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
10,2,tropicana,58,8.680672,0,3.56,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
11,2,tropicana,59,9.034080,0,3.56,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
12,2,tropicana,60,8.691483,0,3.56,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
13,2,tropicana,61,8.831712,0,3.56,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
14,2,tropicana,62,9.128696,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
15,2,tropicana,63,9.405907,0,2.99,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
16,2,tropicana,64,9.447150,0,2.99,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
17,2,tropicana,65,8.783856,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
18,2,tropicana,66,8.723231,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
19,2,tropicana,67,9.957976,0,2.39,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
20,2,tropicana,68,9.426741,0,2.39,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
21,2,tropicana,69,9.156095,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
22,2,tropicana,70,9.793673,0,2.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
23,2,tropicana,71,9.149316,0,2.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
24,2,tropicana,72,8.743851,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
25,2,tropicana,73,8.841014,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
26,2,tropicana,74,9.727228,0,2.49,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
27,2,tropicana,75,8.743851,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
28,2,tropicana,76,8.979165,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
29,2,tropicana,77,8.723231,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28721,137,tropicana,131,11.551531,0,1.79,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28722,137,tropicana,132,10.603014,0,1.95,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28723,137,tropicana,133,10.474241,0,2.76,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28724,137,tropicana,134,11.521528,1,2.50,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28725,137,tropicana,135,11.142673,0,2.59,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28726,137,tropicana,136,10.072386,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28727,137,tropicana,137,10.155335,0,2.74,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28728,137,tropicana,138,11.294570,1,2.39,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28729,137,tropicana,139,10.324301,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28730,137,tropicana,140,10.236525,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28731,137,tropicana,141,9.898676,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28732,137,tropicana,142,10.047761,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28733,137,tropicana,143,11.885096,1,2.49,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28734,137,tropicana,144,11.514524,0,2.25,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28735,137,tropicana,145,11.436131,1,1.99,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28736,137,tropicana,146,9.618469,1,3.13,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28737,137,tropicana,147,10.673596,0,2.67,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28738,137,tropicana,148,10.189568,0,3.15,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28739,137,tropicana,149,10.229621,0,3.18,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28740,137,tropicana,150,9.772011,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28741,137,tropicana,151,9.734832,0,3.17,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28742,137,tropicana,152,9.908276,1,3.09,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28743,137,tropicana,153,9.711843,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28744,137,tropicana,154,10.782948,1,2.79,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28745,137,tropicana,155,10.298768,0,2.77,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28746,137,tropicana,156,11.313498,1,2.49,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28747,137,tropicana,157,10.628133,0,2.66,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28748,137,tropicana,158,9.936535,0,3.11,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28749,137,tropicana,159,10.855917,1,2.79,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28750,137,tropicana,160,10.236525,0,2.88,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761

In [81]:
# 8. Fetch all the observations for Tropicana brand using query function
oj.query("brand=='tropicana'")

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
5,2,tropicana,51,8.877382,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
6,2,tropicana,52,9.294682,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
7,2,tropicana,53,8.954674,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
8,2,tropicana,54,9.049232,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
9,2,tropicana,57,8.613230,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
10,2,tropicana,58,8.680672,0,3.56,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
11,2,tropicana,59,9.034080,0,3.56,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
12,2,tropicana,60,8.691483,0,3.56,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
13,2,tropicana,61,8.831712,0,3.56,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
14,2,tropicana,62,9.128696,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
15,2,tropicana,63,9.405907,0,2.99,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
16,2,tropicana,64,9.447150,0,2.99,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
17,2,tropicana,65,8.783856,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
18,2,tropicana,66,8.723231,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
19,2,tropicana,67,9.957976,0,2.39,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
20,2,tropicana,68,9.426741,0,2.39,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
21,2,tropicana,69,9.156095,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
22,2,tropicana,70,9.793673,0,2.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
23,2,tropicana,71,9.149316,0,2.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
24,2,tropicana,72,8.743851,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
25,2,tropicana,73,8.841014,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
26,2,tropicana,74,9.727228,0,2.49,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
27,2,tropicana,75,8.743851,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
28,2,tropicana,76,8.979165,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
29,2,tropicana,77,8.723231,0,3.59,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28721,137,tropicana,131,11.551531,0,1.79,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28722,137,tropicana,132,10.603014,0,1.95,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28723,137,tropicana,133,10.474241,0,2.76,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28724,137,tropicana,134,11.521528,1,2.50,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28725,137,tropicana,135,11.142673,0,2.59,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28726,137,tropicana,136,10.072386,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28727,137,tropicana,137,10.155335,0,2.74,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28728,137,tropicana,138,11.294570,1,2.39,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28729,137,tropicana,139,10.324301,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28730,137,tropicana,140,10.236525,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28731,137,tropicana,141,9.898676,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28732,137,tropicana,142,10.047761,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28733,137,tropicana,143,11.885096,1,2.49,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28734,137,tropicana,144,11.514524,0,2.25,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28735,137,tropicana,145,11.436131,1,1.99,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28736,137,tropicana,146,9.618469,1,3.13,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28737,137,tropicana,147,10.673596,0,2.67,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28738,137,tropicana,148,10.189568,0,3.15,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28739,137,tropicana,149,10.229621,0,3.18,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28740,137,tropicana,150,9.772011,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28741,137,tropicana,151,9.734832,0,3.17,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28742,137,tropicana,152,9.908276,1,3.09,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28743,137,tropicana,153,9.711843,0,3.19,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28744,137,tropicana,154,10.782948,1,2.79,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28745,137,tropicana,155,10.298768,0,2.77,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28746,137,tropicana,156,11.313498,1,2.49,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28747,137,tropicana,157,10.628133,0,2.66,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28748,137,tropicana,158,9.936535,0,3.11,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28749,137,tropicana,159,10.855917,1,2.79,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28750,137,tropicana,160,10.236525,0,2.88,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761

In [82]:
# 9 Fetch store,brand and price observations for the brand toppicana
oj[oj.brand=='tropicana'][['store','brand','price']].tail()

       store      brand  price
28746    137  tropicana   2.49
28747    137  tropicana   2.66
28748    137  tropicana   3.11
28749    137  tropicana   2.79
28750    137  tropicana   2.88

In [83]:
# 10. Fetch last 5  observations for those who have bought Tropicana or dominics
oj[(oj.brand == 'tropicana') | (oj.brand == 'dominicks')].tail(5)

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
28942,137,dominicks,156,7.987524,0,2.00,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28943,137,dominicks,157,8.502689,0,1.94,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28944,137,dominicks,158,9.505991,0,1.59,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28945,137,dominicks,159,10.927376,0,1.49,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28946,137,dominicks,160,8.859363,0,1.75,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761

In [84]:
#11. Fetch the first 5 observations of income, brand, price observations with Tropicana brand 
# without feature advertisement
oj[(oj.brand=='tropicana')&(oj.feat==0)].head()#[["brand","price",'INCOME']].head()

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927

In [85]:
oj.query("(brand=='tropicana')&(feat==0)")[["INCOME","brand","price"]].head()

      INCOME      brand  price
0  10.553205  tropicana   3.87
1  10.553205  tropicana   3.87
2  10.553205  tropicana   3.87
3  10.553205  tropicana   3.87
4  10.553205  tropicana   3.87

In [86]:
#12 .Add a new column to the dataframe normInc which is the normalised value of income
oj['normInc'] = ((oj['INCOME'])-oj['INCOME'].mean())/oj['INCOME'].std()

In [88]:
oj.shape

(28947, 18)

In [89]:
oj.head()

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5,normInc
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,-0.225032
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,-0.225032
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,-0.225032
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,-0.225032
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,-0.225032

In [90]:
# 13 Remove the column normInc from the data frame
del oj['normInc']

In [91]:
oj.head()

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927

In [92]:
# 14. Fetch the observations for the tropicana 
# brand excluding the store, price and income fields
oj.query("brand == 'tropicana'").drop(["price","store","INCOME"],1).\
head()

,brand,week,logmove,feat,AGE60,EDUC,ETHNIC,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,tropicana,40,9.018695,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,tropicana,46,8.723231,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,tropicana,47,8.253228,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,tropicana,48,8.987197,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,tropicana,50,9.093357,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927

In [96]:
# 15.Sort the Data in the increasing order of the week
oj.sort_values(by="week",ascending=True).head()

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.114280,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.927280,0.376927
8141,59,minute.maid,40,7.655391,0,2.62,0.110819,0.233036,0.024247,10.715040,0.140676,0.390696,0.292652,0.217275,1.000000,3.331154,0.395539
8025,59,tropicana,40,8.489616,0,3.19,0.110819,0.233036,0.024247,10.715040,0.140676,0.390696,0.292652,0.217275,1.000000,3.331154,0.395539
26035,124,minute.maid,40,8.269757,0,3.17,0.119626,0.261876,0.572356,10.258957,0.124950,0.348519,0.416316,6.328747,0.727273,1.793796,0.202169
7907,56,dominicks,40,8.565602,1,1.59,0.192889,0.237551,0.041356,10.831825,0.105928,0.362168,0.578125,4.865721,0.533333,2.998578,0.496127

In [104]:
# 16. Sort the data in the decreasing order of Income and increasing 
#order of week

oj.sort_values(by=["income"&"week"],ascending=False)

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [106]:
##17.Find the mean of the Juice price for each brand
dat=oj[["brand","price"]]
dat.groupby("brand").mean()

                price
brand
dominicks    1.735809
minute.maid  2.241162
tropicana    2.870493

In [126]:
##17.Find the mean of the Juice price for each brand
oj.groupby("brand",as_index=False).agg({"price":np.mean})

         brand     price
0    dominicks  1.735809
1  minute.maid  2.241162
2    tropicana  2.870493

In [108]:
#18 . Find the mean, sum, std of price for every brand
dat=oj[["brand","price"]]
dat.groupby("brand").agg(["mean","sum","std"])

                price
                 mean       sum       std
brand
dominicks    1.735809  16748.82  0.385838
minute.maid  2.241162  21624.97  0.404515
tropicana    2.870493  27697.39  0.548558

In [136]:
#19. For every brand find the mean price and sum of income
oj.groupby("brand").agg({"price":np.mean,"income":np.sum})

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\groupby.py:4291: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

KeyError: 'income'

In [141]:
# 20.Find the average income for each brand and at each store
dat=oj[["brand","store","INCOME"]]
dat.groupby(["brand","store"],as_index=False).mean()

         brand  store     INCOME
0    dominicks      2  10.553205
1    dominicks      5  10.922371
2    dominicks      8  10.597010
3    dominicks      9  10.787152
4    dominicks     12   9.996659
5    dominicks     14  11.043929
6    dominicks     18  10.391976
7    dominicks     21  10.716194
8    dominicks     28  10.798534
9    dominicks     32  10.674475
10   dominicks     33  10.345927
11   dominicks     40  10.550250
12   dominicks     44  10.869159
13   dominicks     45  10.745378
14   dominicks     47  10.635326
15   dominicks     48  10.756029
16   dominicks     49  10.806754
17   dominicks     50  10.589308
18   dominicks     51  10.620839
19   dominicks     52  11.051017
20   dominicks     53  10.600004
21   dominicks     54  10.910898
22   dominicks     56  10.831825
23   dominicks     59  10.715040
24   dominicks     62  11.236197
25   dominicks     64  10.605817
26   dominicks     67  10.796960
27   dominicks     68  10.188366
28   dominicks     70  10.412351
29   dominicks     71  10.404838
..         ...    ...        ...
219  tropicana    101  10.659938
220  tropicana    102  10.493854
221  tropicana    103  10.585245
222  tropicana    104  10.698853
223  tropicana    105  10.414393
224  tropicana    106  10.506847
225  tropicana    107  10.827131
226  tropicana    109  11.233198
227  tropicana    110  10.520860
228  tropicana    111  10.138283
229  tropicana    112  10.882659
230  tropicana    113  10.647660
231  tropicana    114  10.347949
232  tropicana    115  10.947485
233  tropicana    116  10.697113
234  tropicana    117  10.760962
235  tropicana    118  10.632364
236  tropicana    119  10.752719
237  tropicana    121  10.949929
238  tropicana    122  10.775053
239  tropicana    123  10.334100
240  tropicana    124  10.258957
241  tropicana    126  10.980876
242  tropicana    128  10.153429
243  tropicana    129  10.999864
244  tropicana    130   9.966650
245  tropicana    131  10.793537
246  tropicana    132  10.619154
247  tropicana    134  10.722518
248  tropicana    137  10.966490

[249 rows x 3 columns]

In [112]:
oj.groupby(["brand","store"]).agg({"INCO":np.mean})

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\groupby.py:4291: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

KeyError: 'income'

In [ ]:
#21.a Mean and std deviation of the income for each brand
dat=oj[["brand","income"]]
dat.groupby("brand").agg(["mean","std","count"])

In [ ]:
# 21.b mean of price for income >=10.5
dat=oj.query("income>=10.5")[["price"]]
dat.mean()

In [115]:
#21.c mean of price for income >=10.5 for each brand
dat=oj.query("income>=10.5")[["price","brand"]]
dat.groupby("brand").mean()

UndefinedVariableError: name 'income' is not defined

In [116]:
oj.groupby(["brand","feat"]).agg({"store":np.size})

                  store
brand       feat
dominicks   0      7169
            1      2480
minute.maid 0      6865
            1      2784
tropicana   0      8045
            1      1604

In [117]:
#22 Find the Cross tabulation of brands and feature advertisement
#To find the total observations for each brand and for every feature advertisement category
dat=oj[["brand","feat","store"]]
dat.groupby(["brand","feat"]).count()

                  store
brand       feat
dominicks   0      7169
            1      2480
minute.maid 0      6865
            1      2784
tropicana   0      8045
            1      1604

In [118]:
pd.crosstab(oj['brand'],oj['feat'])

feat            0     1
brand
dominicks    7169  2480
minute.maid  6865  2784
tropicana    8045  1604